@charset "UTF-8";
/* ==========================================================================
  Foundation
========================================================================== */
/* ==========================================================================
  Global
========================================================================== */
:root {
  --color-Black: #333333;
  --color-Gray: #f0f0f0;
  --color-White: #ffffff;
}

/* variables
  ----------------------------------------------------------------- */
:root {
  --color-Black: #333333;
  --color-Gray: #f0f0f0;
  --color-White: #ffffff;
}

/* -------------------------------------------------------------
//  メディアクエリ
// ------------------------------------------------------------*/
/* base
  ----------------------------------------------------------------- */
/* ==========================================================================
  Layout
========================================================================== */
/* header
  ----------------------------------------------------------------- */
/* ==========================================================================
  Component
========================================================================== */
/* ==========================================================================
  Project
========================================================================== */
/* ==========================================================================
  Utility
========================================================================== */