@use "sass:map";

// Noto Sans JP
@mixin font-noto-sans-serif {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

// Gruppo
@mixin font-gruppo {
  font-family: "Gruppo", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}